<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{cadastro.title}"> LifeCare</title>
    <link rel="stylesheet" th:href="@{/styles/cadastro-cliente.css}" />
<body>
    <nav class="navbar-container">
        <a class="titulo_site" th:href="@{/}"><h3>LifeCare</h3></a>
        <a class="botao-voltar" href="javascript:history.go(-1)">
          <p th:text="#{cadastro.voltar}"></p
        ></a>
    </nav>
    <div class="cadastro-cliente-container">
        <form class="form-cadastro-cliente" th:action="@{/profissional/salvar}" th:object="${profissional}" method="POST" enctype="multipart/form-data">
            <h1 th:text="#{cadastro.profissional}"></h1>
            <div class="form-cadastro">
                <label for="nome" th:text="#{cadastro.nome}"></label>
                <input class="campo" id="nome" name="nome" type="text" th:field="*{nome}"/>
                <div class="field-erro">
                    <span th:errors="*{nome}"></span>
                </div>
                    
                <label for="email" th:text="#{cadastro.email}"></label>
                <input class="campo" id="email" name="email" type="text" th:field="*{email}"/>

                <div class="field-erro">
                    <span th:errors="*{email}"></span>
                </div>

                <label for="cpf" th:text="#{cadastro.cpf}"></label>
                <input class="campo" id="cpf" name="cpf" type="text" th:field="*{cpf}"/>

                <div class="field-erro">
                    <span th:errors="*{cpf}"></span>
                </div>
                    
                <label for="area" th:text="#{cadastro.area}"></label>
                <input class="campo" id="area" name="area" type="text" th:field="*{area}"/>
                <div class="field-erro">
                    <span th:errors="*{area}"></span>
                </div>

                <label for="especialidade" th:text="#{cadastro.especialidade}"></label>
                <input class="campo" id="especialidade" name="especialidade" type="text" th:field="*{especialidade}"/>
                <div class="field-erro">
                    <span th:errors="*{especialidade}"></span>
                </div>

                <label for="curriculoFile" th:text="#{cadastro.curriculo}"></label>
                    <input type="file" id="curriculoFile" name="curriculoFile" />

                    <div class="field-erro">
                        <span th:text="${curriculoFile}"></span>
                    </div>

                <label for="senha" th:text="#{cadastro.senha}"></label>
                <input class="campo" id="senha" name="senha" type="password"/>

                <div class="field-erro">
                    <span th:errors="*{senha}"></span>
                </div>
                    
                <label for="confirmarSenha" th:text="#{cadastro.confirmaSenha}"></label>
                <input class="campo" id="confirmarSenha" name="confirmarSenha" type="password"/>
                        
                <div class="field-erro">
                    <span th:text="${confiramarSenhaErro}"></span>
                </div>
            </div>
            <input class="botao" type="submit" name="bOK" th:value="#{cadastro.cadastrar}" />
        </form>
        </div>
    </body>
</html>