<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <title th:text="#{error.page.title}"></title>
</head>		
<body class="text-center">
        <div>
            <h1 class="h3 mb-3 font-weight-normal">
                <i class="oi oi-warning"></i> 
                <span th:text="${status}"></span>
            </h1>
            
            <h2 th:text="#{${error}}"></h2>
            
            <hr/>
            
            <div>
                <span th:text="#{${message}}"></span><br />
                <br /> <a class="btn btn-primary" type="button"
                    href="javascript:history.back()"><span th:text="#{previous.message}"></span></a>
            </div>
        </div>
</body>
</html>	