<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{perfil.title}">LifeCare</title>
    <link rel="stylesheet" th:href="@{/styles/perfil.css}" />
    <link rel="stylesheet" th:href="@{/styles/perfil-admin.css}" />
  </head>
  <body>
    <div class="perfil-container box">
      <div th:insert="components/navbar.html"></div>
      <div sec:authorize="hasRole('ROLE_profissional')">
        <div th:insert="components/perfilProfissional.html"></div>
      </div>
      <div sec:authorize="hasRole('ROLE_cliente')">
        <div th:insert="components/perfilCliente.html"></div>
      </div>
      <div sec:authorize="hasRole('ROLE_admin')">
        <div th:insert="components/perfilAdmin.html"></div>
      </div>
    </div>
  </body>
</html>
