<main>
  <div>
    <div class="texto-inicio">
      <h1>
        <span th:text="#{perfil.saudacao}"></span>
        <span
          th:text="${#authorization.getAuthentication().getPrincipal().getUsuario().getNome()}"
        ></span>
        <span th:text="#{perfil.profissional}"></span>
      </h1>
    </div>
  </div>
  <div th:insert="components/listaConsultas.html"></div>
</main>
