body{
    margin: 0rem !important;
}

.navbar-container {
    padding: 15px 25px 15px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e3a6e;
}

.titulo_site{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    text-decoration: none !important;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botao-logado{
    margin-right: 1.5rem;
}

.botao-cadastro, .botao-login, .botao-logado{
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #0e0b27;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    border-style: none;
    text-decoration: none !important;
}

.navbar-container .right-side .botao-logado {
    display: flex;
    align-items: center;
}


.botao-logado:hover, .botao-cadastro:hover, .botao-login:hover {
    opacity: 0.8;
}

.botao-cadastro p, .botao-login p, .botao-logado p{
    margin: 0rem !important;
}