table, th, td {
    border: 1px solid black;
}
    
table {
    border-collapse: collapse;
    margin: auto;
    }
    
th, td{
    padding: 10px;
    text-align: center;
    width: auto;
}
    
th{
    font-weight: bold;
}
    
tr:nth-child(even) {
    background-color: white;
}

caption{
    font-size: 36px;
    margin-bottom: 5px;
}

.texto-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.botao-add{
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #0e0b27;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    border-style: none;
    text-decoration: none !important;
}

.botao-acao{
    font-size: 1rem;
    font-weight: bold;
    background-color: #0e0b27;
    padding: .5rem;
    color: white;
    border-radius: 1rem;
    border-style: none;
    text-decoration: none !important;
}

.botao-acao:hover{
    opacity: 0.8;
    cursor: pointer;
}

.botao-add:hover{
    opacity: 0.8;
    cursor: pointer;
}