<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{cadastro.title}"> LifeCare</title>
    <link rel="stylesheet" th:href="@{/styles/cadastro-cliente.css}" />
<body>
    <nav class="navbar-container">
        <a class="titulo_site" th:href="@{/}"><h3>LifeCare</h3></a>
        <a class="botao-voltar" href="javascript:history.go(-1)">
          <p th:text="#{cadastro.voltar}"></p
        ></a>
    </nav>
    <div class="cadastro-cliente-container">
        <form class="form-cadastro-cliente" th:action="@{/cliente/editar}" th:object="${cliente}" method="POST" >
            <h1 th:text="#{cadastro.cliente}"></h1>
            <div class="form-cadastro">
                <label for="nome" th:text="#{cadastro.nome}"></label>
                <input class="campo" id="nome" name="nome" type="text" th:field="*{nome}"/>
                <div class="field-erro">
                    <span th:errors="*{nome}"></span>
                </div>
                    
                <label for="email" th:text="#{cadastro.email}"></label>
                <input class="campo" id="email" name="email" type="text" th:field="*{email}"/>

                <div class="field-erro">
                    <span th:errors="*{email}"></span>
                </div>

                <label for="cpf" th:text="#{cadastro.cpf}"></label>
                <input class="campo" id="cpf" name="cpf" type="text" th:field="*{cpf}"/>

                <div class="field-erro">
                    <span th:errors="*{cpf}"></span>
                </div>
                    
                <label for="telefone" th:text="#{cadastro.telefone}"></label>
                <input class="campo" id="telefone" name="telefone" type="text" th:field="*{telefone}"/>

                <div class="field-erro">
                    <span th:errors="*{telefone}"></span>
                </div>

                <label for="sexo" th:text="#{cadastro.sexo}"></label>
                <select class="campo" id="sexo" name="sexo" type="text" th:field="*{sexo}">
                    <option value="" selected hidden th:text="#{cadastro.selecioneSexo}"></option>
                        <option value="masculino" th:text="#{cadastro.masculino}"></option>
                        <option value="feminino" th:text="#{cadastro.feminino}"></option>
                </select>
                <div class="field-erro">
                    <span th:errors="*{sexo}"></span>
                </div>
                    
                <label for="data-nascimento" th:text="#{cadastro.nascimento}"></label>
                <input class="campo" id="data-nascimento" name="dataNascimento" type="date" th:field="*{dataNascimento}"/>

                <div class="field-erro">
                    <span th:errors="*{dataNascimento}"></span>
                </div>

                <label for="senha" th:text="#{cadastro.senha}"></label>
                <input class="campo" id="senha" name="senha" type="password"/>

                <div class="field-erro">
                    <span th:errors="*{senha}"></span>
                </div>
                    
                <label for="confirmarSenha" th:text="#{cadastro.confirmaSenha}"></label>
                <input class="campo" id="confirmarSenha" name="confirmarSenha" type="password"/>
                        
                <div class="field-erro">
                    <span th:text="${confiramarSenhaErro}"></span>
                </div>
                <input id="id" name="id" type="hidden" th:field="*{id}"/>
                <input type="hidden" id="id" th:field="*{tipo}" />
            </div>
            <input class="botao" type="submit" name="bOK" th:value="#{admin.atualizar}" />
        </form>
        </div>
    </body>
</html>